In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(
    [
        ['banana', 20], ['pera', 40], ['maçã', 10]
    ]
)

In [6]:
df.shape # quantidade de linhas e colunas

(3, 2)

In [8]:
df # mostra tabela

        0   1
0  banana  20
1    pera  40
2    maçã  10

In [10]:
df = pd.DataFrame(
    [
        ['banana', 20], ['pera', 40], ['maçã', 10]
    ], 
    columns=['fruta', 'preço/kg'] # da nome as colunas

)

In [11]:
df

    fruta  preço/kg
0  banana        20
1    pera        40
2    maçã        10

In [13]:
# acessando colunas
df['fruta'] # DataFrame é uma lista de séries (lista de listas)

0    banana
1      pera
2      maçã
Name: fruta, dtype: object

In [15]:
df['preço/kg'].mean() # média

23.333333333333332

In [20]:
df.iloc[1]['fruta'] # pegando indexes

'pera'