In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(
    [
        ['banana', 20], ['pera', 40], ['maçã', 10]
    ]
)

In [6]:
df.shape # quantidade de linhas e colunas

(3, 2)

In [8]:
df # mostra tabela

        0   1
0  banana  20
1    pera  40
2    maçã  10

In [9]:
df = pd.DataFrame(
    [
        ['banana', 20], ['pera', 40], ['maçã', 10]
    ], 
    columns=['fruta', 'preço/kg']

)

SyntaxError: invalid syntax (<ipython-input-9-063bb0934124>, line 4)